$txt-light: #ddd;
$title-color: #ecca08;
$bg-cyan: #022241;
$bg-complement: rgba(164, 139, 50, 0.758);
$bg-dark: #222;
$bg-light: rgb(255, 255, 255);
$box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);
