<div class="" *ngIf = "!renter">
<mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>For {{house.status | titlecase}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imgSrc">
    <mat-card-content>
      <p>
        City - <span>{{ house.city}}</span>  
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewHouse()">VIEW</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="" *ngIf = "renter">
  <app-fetch-data (rentRecords)="rentRecords($event)" >

  </app-fetch-data>
  <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div class=""></div>
        <div [ngSwitch]="status">
          <div *ngSwitchCase="'free'">
            <p class="p-2 bg-danger text-light text-center"> No Request</p>
          </div>

          <div *ngSwitchCase="'Accepted'">
            <p class="p-2 bg-success text-light text-center"> Rented</p>
          </div>
          <div *ngSwitchCase="'Requested'">
            <p class="p-2 bg-info textligh\ text-center">Request made</p>
            <p>
              Client Phone - <span>{{ rentRecord.clientPhone}}</span>  
            </p>
          </div>
      
          
        </div>
      </mat-card-header>
  

      <img mat-card-image [src]="imgSrc">

      <mat-card-actions>
        <div class="d-flex flex-row">
        <button mat-button (click)="response('Rejected')" class="btn btn-danger mx-2" [disabled]="status === 'free' ">Reject</button>
        <button mat-button (click)="response('Accepted')" class="btn btn-succes" [disabled]="status === 'free' || status==='Accepted' ">Accept</button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
  
